<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css"
          integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="calculator.module.js"></script>
    <script src="calculator.controller.js"></script>

</head>
<body ng-controller="CalculatorController as calculator" ng-keydown="calculator.handleKeyboardInput($event)">

<div class="container">
    <div class="row">
        <h1 class="text-xs-center">Dentaku</h1>
        <p class="text-xs-center">A Simple Web-Based Calculator</p>
    </div>
    <div class="row">
        <div class="card card-outline-secondary text-xs-right col-xs-12">
            <div class="card-block">
                <h4 class="card-text">{{ calculator.equation }}</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-info btn-lg col-xs-3" ng-click="calculator.append('(')">(
        </button>
        <button type="button" class="btn btn-info btn-lg col-xs-3" ng-click="calculator.append(')')">)
        </button>
        <button type="button" class="btn btn-info btn-lg col-xs-3" ng-click="calculator.append('%')">%
        </button>
        <button type="button" class="btn btn-info btn-lg col-xs-3" ng-click="calculator.clearAll()">AC
        </button>
    </div>
    <div class="row">
        <button type="button" class="btn btn-secondary btn-lg col-xs-3" ng-click="calculator.append('7')">7</button>
        <button type="button" class="btn btn-secondary btn-lg col-xs-3" ng-click="calculator.append('8')">8</button>
        <button type="button" class="btn btn-secondary btn-lg col-xs-3" ng-click="calculator.append('9')">9</button>
        <button type="button" class="btn btn-info btn-lg col-xs-3" ng-click="calculator.append('/')">/</button>
    </div>
    <div class="row">
        <button type="button" class="btn btn-secondary btn-lg col-xs-3" ng-click="calculator.append('4')">4</button>
        <button type="button" class="btn btn-secondary btn-lg col-xs-3" ng-click="calculator.append('5')">5</button>
        <button type="button" class="btn btn-secondary btn-lg col-xs-3" ng-click="calculator.append('6')">6</button>
        <button type="button" class="btn btn-info btn-lg col-xs-3" ng-click="calculator.append('*')">*</button>
    </div>
    <div class="row">
        <button type="button" class="btn btn-secondary btn-lg col-xs-3" ng-click="calculator.append('1')">1</button>
        <button type="button" class="btn btn-secondary btn-lg col-xs-3" ng-click="calculator.append('2')">2</button>
        <button type="button" class="btn btn-secondary btn-lg col-xs-3" ng-click="calculator.append('3')">3</button>
        <button type="button" class="btn btn-info btn-lg col-xs-3" ng-click="calculator.append('-')">-</button>
    </div>
    <div class="row">
        <button type="button" class="btn btn-secondary btn-lg col-xs-3" ng-click="calculator.append('0')">0</button>
        <button type="button" class="btn btn-secondary btn-lg col-xs-3" ng-click="calculator.append('.')">.</button>
        <button type="button" class="btn btn-primary btn-lg col-xs-3" ng-click="calculator.calculate()">=</button>
        <button type="button" class="btn btn-info btn-lg col-xs-3" ng-click="calculator.append('+')">+</button>
    </div>

</div>


<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"
        integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"
        integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js"
        integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU"
        crossorigin="anonymous"></script>

</body>
</html>