.btn-info {
    border-color: #cccccc
}

/* Alternate theme styles
-------------------------------------------------- */
.btn-success {
    border-color: #cccccc
}

#soothing-background {
    background: #F5F5DC
}

#equation {
    background: white;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    /*background-color: #f5f5f5;*/
}

a {
    color: black
}

/*.container {*/
/*width: auto;*/
/*max-width: 680px;*/
/*padding: 0 15px;*/
/*}*/
/*.container .text-muted {*/
/*margin: 20px 0;*/
/*}*/
