.lock {
    width: 43px;
}

div + div {
    margin-top: 5px;
}

#output {
    width: 182px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
    margin: 3px;
    height: 40px;
}